<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet" />

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="/select2/css/select2.min.css" />
        <link rel="stylesheet" href="/toastr/css/toastr.min.css" />
        <link rel="stylesheet" href="/dist/css/styles.css" />

        <title>{{ page.title }}</title>
    </head>
    <body>
        <main class="h-100 d-flex">
            <div class="m-auto p-2">
                <div class="card customCard shadow p-4">
                    <div class="mb-3 d-flex flex-column row-gap-2">
                        <h2 class="text-center heading">Reset Password</h2>
                        <p class="message text-center">Create a new password to secure your account</p>
                    </div>
                    <form action="/client/reset-password/{{userId}}" method="post" id="resetPasswordForm">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label mb-1">New Password</label>
                            <div class="input-group passwordDiv">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" />
                                <span class="input-group-text iconDiv">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label mb-1">Confirm Password</label>
                            <div class="input-group passwordDiv">
                                <input
                                    type="password"
                                    class="form-control"
                                    id="confirmPassword"
                                    name="confirmPassword" />
                                <span class="input-group-text iconDiv">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <button class="w-100 btn btn-primary submitButton">Reset Password</button>
                    </form>
                </div>
            </div>
        </main>

        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/jQuery/jQuery.min.js"></script>
        <script src="/select2/js/select2.full.min.js"></script>
        <script src="/toastr/js/toastr.min.js"></script>
        <script>
            toastr.options = {
                closeButton: true,
                debug: false,
                newestOnTop: true,
                progressBar: true,
                positionClass: "toast-bottom-right",
                preventDuplicates: false,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "3000",
                extendedTimeOut: "3000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
            };

            $(document).ready(function () {
                let passwordDivs = $(".passwordDiv");

                $(passwordDivs).each((index, element) => {
                    $(element)
                        .find(".fa-solid")
                        .on("click", function () {
                            $(this).toggleClass("fa-lock fa-lock-open");
                            let passwordField = $(element).find("input");
                            if ($(this).hasClass("fa-lock-open")) {
                                passwordField.attr("type", "text");
                            } else {
                                passwordField.attr("type", "password");
                            }
                        });
                });
            });
        </script>
        {% include "client/components/toasts.html" %}
    </body>
</html>
