<header class="bg-light shadow-sm d-flex">
    <div class="container-fluid d-flex my-auto">
        <button class="btn btn-outline-dark" id="sidebarToggle">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="dropdown ms-auto my-auto">
            <div class="dropdownIcon" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </div>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li>
                    <a class="dropdown-item" href="/panel/profile">Profile</a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="/panel/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>
