<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet" />

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="/select2/css/select2.min.css" />
        <link rel="stylesheet" href="/toastr/css/toastr.min.css" />
        <link rel="stylesheet" href="/dist/css/styles.css" />

        <title>{{ page.title }}</title>
    </head>
    <body>
        <main class="h-100 d-flex">
            <div class="m-auto p-2">
                <div class="card customCard shadow p-4">
                    <div class="mb-3 d-flex flex-column row-gap-2">
                        <h2 class="text-center heading">OTP Verification</h2>
                        <p class="message text-center">Enter the verification code sent to your registered email</p>
                    </div>
                    <form action="/panel/otp/verification/{{ userId }}" method="post" id="otpVerificationForm">
                        <div class="mb-3">
                            <label for="otp" class="form-label mb-1">OTP</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="otp" name="otp" />
                                <span class="input-group-text iconDiv">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <button class="w-100 btn btn-primary submitButton" type="submit">Verify OTP</button>
                    </form>
                </div>
            </div>
        </main>

        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/jQuery/jQuery.min.js"></script>
        <script src="/select2/js/select2.full.min.js"></script>
        <script src="/toastr/js/toastr.min.js"></script>
        <script>
            toastr.options = {
                closeButton: true,
                debug: false,
                newestOnTop: true,
                progressBar: true,
                positionClass: "toast-bottom-right",
                preventDuplicates: false,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "3000",
                extendedTimeOut: "3000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
            };

            $(document).ready(function () {
                let otpInput = $("#otp");

                otpInput.on("keydown keyup", function (e) {
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 37, 39]) !== -1) {
                        return;
                    }

                    let allowedKeys = [8, 37, 39, 46];

                    if ($(this).val().length >= 6 && !allowedKeys.includes(e.keyCode)) {
                        e.preventDefault();
                        return;
                    }

                    // Ensure that it is a number and stop the keypress if not
                    if ((e.shiftKey || e.keyCode < 48 || e.keyCode > 57) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
            });
        </script>
        {% include "panel/components/toasts.html" %}
    </body>
</html>
